body
{
    width: 100%;
    height: 100%;
    background: #1b1e21;
}
#HealthOne
{
    color: #1e7e34;
}

.navimg
{
    width: 100%;
    height: 300px;
}
.navimg>img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
    padding-bot: 100px;
}

.infomatie p
{
    font-size: 100px;
}

.thead
{
    font-size: 30px;
    font-weight: bold;
}

.tr2
{
    font-size: 30px;
}

.form1
{
    padding-left: 10%;
    width: 90%;
    font-size: 30px;
}

#create
{
    width: 120px;
    height: 80px;
    font-size: 30px;
}