{% extends 'medewerker/form.html.twig' %}
{% block content_title %}
    <header class="text-center" >
        <h1 class="text-info">Add Medicijnen</h1>
    </header>
{% endblock %}
{% block content_body %}
<button type="submit" class="btn btn-outline-info" id="create">create</button>
{% endblock %}