{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center infomatie">
      <p class="text-info"> HealthOne</p>
        <p class="text-warning">Een website waarop patiënten snel en gemakkelijk medicijnen kunnen kopen </p>
    </div>
{% endblock %}