{% extends 'base.html.twig' %}
{% block body %}
    {% block content_title %}

    {% endblock %}
    <div class="form1">
        {{ form_start(DoctorForm) }}
        {{ form_widget(DoctorForm) }}
        {% block content_body %}

        {%  endblock %}
        {{ form_end(DoctorForm) }}
    </div>
{% endblock %}