{% extends 'doctor/doctorform.html.twig' %}
{% block content_title %}
    <header class="text-center" >
        <h1 class="text-primary">Wijzigen Recept</h1>
    </header>
{% endblock %}
{% block content_body %}
    <button type="submit" class="btn btn-outline-primary" style="width: 300px" id="create" >aanpassen</button>
{% endblock %}